* {
    margin: 0;
    padding: 0;
}
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, #141e30, #243b55);
    color: white;
}

.footer-row {
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-column {
    flex-basis: 40%;
    padding: 10px;
}

.footer-logo {
    width: 80px;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.footer-column h3 {
    width: fit-content;
    position: relative;
    margin-top: 3rem;
    margin-bottom: 1rem;
}