html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}
/* index page */
/* .main {
    display: flex;
    border: 1px solid red;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.hero-img {
    max-width: 50vh;
    height: auto;
}

.content-left {
    width: 40%;
}

.main h1 {
    font-size: 54px;
    color: #133b4f;
    text-transform: uppercase;
}

.main h2 {
    font-size: 25px;
    color: #fca70c;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.main p {
    font-size: 14px;
    color: #333;
    line-height: 31px;
    margin: 30px 0;
} */