{% extends 'layout.html' %}
{% block title %}
Home
{% endblock %}
{% block main %}
<div class="main container mt-2">
    <div class="row align-items-center">
        <div class="content-left col">
            <h1>Hi, I'm Mohammed Ali</h1>
            <h2>I create <em>user-friendly</em> websites as a hobbie using HTML, CSS, Javascript.</h2>
            <button class="btn btn-primary mt-3" title="see my projects">See my projects!</button>
        </div>
        <div class="content-right col">
            <img src="/static/images/anime_final.png" class="img-fluid" alt="Happy laptop users" title="animated image of website creater">
        </div>
    </div> 
</div>
<div class="continer my-3">
    <div class="row align-items-center">
        <div class="col-4 first-col">
            hello 
        </div>
        <div class="col-4 second-col">
            this is my 
        </div>
        <div class="col-4 third-col">
            three col layout
        </div>
    </div>
</div>
<div class="continer mt-3 py-3 media-scroller snaps-inline">
    <div class="media-element">
        <img src="/static/images/pexels-vie-studio-4439444 (2).jpg" alt="Coming Soon" title="coming soon">
        <p class="title">Coming Soon</p>
    </div>
    <div class="media-element">
        <img src="/static/images/pexels-vie-studio-4439444 (2).jpg" alt="Coming Soon" title="coming soon">
        <p class="title">Coming Soon</p>
    </div>
    <div class="media-element">
        <img src="/static/images/pexels-vie-studio-4439444 (2).jpg" alt="Coming Soon" title="coming soon">
        <p class="title">Coming Soon</p>
    </div>
    <div class="media-element">
        <img src="/static/images/pexels-vie-studio-4439444 (2).jpg" alt="Coming Soon" title="coming soon">
        <p class="title">Coming Soon</p>
    </div>
    <div class="media-element">
        <img src="/static/images/pexels-vie-studio-4439444 (2).jpg" alt="Coming Soon" title="coming soon">
        <p class="title">Coming Soon</p>
    </div>
</div>
{% endblock %}