{% extends 'layout.html' %}
{% block title %}
Home
{% endblock %}
{% block main %}
<div class="main container">
    <div class="row">
        <div class="content-left col">
            <h1>Digital</h1>
            <h2>Marketing</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero, ipsam necessitatibus eligendi quam quos minima deserunt enim. Ducimus ab autem obcaecati omnis, facere perferendis expedita dolore ad. Eaque, ratione laudantium.</p>
            <button class="btn btn-primary py-2">Learn More</button>
        </div>
        <div class="content-right col-auto">
            <img src="/static/images/final_add.png" class="hero-img" width="711px" height="px" alt="Happy laptop users">
        </div>
    </div> 
</div>
{% endblock %}