{% extends 'layout.html' %}
{% block title %}
login
{% endblock %}
{% block main %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="/login" method="post">
    <div class="mb-3 mt-2">
        <label for="name">Name: </label>
        <input autocomplete autofocus id="username" name="username" placeholder="Username" type="text">
        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>
{% endblock %}