{% extends 'layout.html' %}
{% block title %}
Reset
{% endblock %}
{% block main %}
<div class="container-fluid py-5 text-center" style="max-width: 350px;">
    <div id="alert" class="alert alert-info"><p> We're sorry to hear that you forgot your password. Enter your email address below and click "Send Reset Code". </p></div>
    <form action="/reset" method="post" enctype="multipart/form-data" novalidate>
        <!-- <div id="codeDiv" class="form-floating mb-3 gone">
            <input name="code" class="form-control" id="codeInput" type="text" placeholder="Code..">
            <label for="codeInput">Confirm</label>
        </div> -->
        <div class="form-floating mb-3">
            <input autofocus name="email" type="email" class="form-control" id="emailInput" placeholder="name@example.com">
            <label for="emailInput">Email</label>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" name="confirm" value="confirm" class="btn btn-primary">Confirm</button>
            <button type="submit" name="resend" value="resend" class="btn btn-primary mt-2">Resend Code</button>
        </div>
    </form>
</div>
<script>
    // set up variables
    const confirmBtn = document.querySelector("button[value='confirm']")
    const code = document.querySelector('#codeInput')
    const email = document.querySelector('#emailInput')
    const resendBtn = document.querySelector("button[value='resend']")
    const resendCodeCheck = document.querySelector('#resendCodeCheck')
    const alert = document.getElementById('alert')
    const form = document.getElementsByTagName('form')[0]
    const btnDiv = document.querySelector('.d-grid')

    // set up the onload window to check
    document.addEventListener("DOMContentLoaded", function() {
        let flash = document.getElementById('flash')
        if (flash) {
            if (flash.innerHTML.trim() == 'New code has been sent to your Email!') {
                console.log('hello')
            }
        }
    })
</script>
<style>
    .gone {
        display: none;
    }
</style>
{% endblock %}