{% extends 'layout.html' %}
{% block title %}
Reset
{% endblock %}
{% block main %}
<div class="container-fluid py-5 text-center" style="max-width: 350px;">
    <form action="/reset" method="post" enctype="multipart/form-data">
        <div id="alert" class="alert alert-info"><p> We're sorry to hear that you forgot your password. Enter your email address below and click "Send Reset Code". </p></div>
        <div id="codeDiv" class="form-floating mb-3 gone">
            <input name="code" class="form-control" id="codeInput" type="text" placeholder="Code..">
            <label for="codeInput">Confirm</label>
        </div>
        <div class="form-floating mb-3">
            <input name="email" type="email" class="form-control" id="emailInput" placeholder="name@example.com">
            <label for="emailInput">Email</label>
        </div>
        <div class="d-grid gap-2">
            <button type="submit" name="resend" value="resend" class="btn btn-primary mt-2" value="resend">Send Reset Code</button>
            <button type="submit" name="confirm" value="confirm" class="btn btn-primary gone">Confirm Code</button>
        </div>
    </form>
</div>
<script>
    // set up variables
    const confirmBtn = document.querySelector("button[name='confirm']")
    const code = document.querySelector('#codeInput')
    const email = document.querySelector('#emailInput')
    const resendBtn = document.querySelector("button[name='resend']")
    const resendCodeCheck = document.querySelector('#resendCodeCheck')
    const alert = document.getElementById('alert')
    const form = document.getElementsByTagName('form')[0]

    // set up the onload window to check
    document.addEventListener("DOMContentLoaded", function() {
        let flash = document.getElementById('flash')
        if (flash) {
            if (flash.innerHTML.trim() == 'New code has been sent to your Email!') {
                console.log('hello')
                }
                
            }
        }
    )

    // check if we should start the countdown
    let remainingTimeCookie = document.cookie.split("; ").filter(function(row) {
        row.startsWith('remainingTime=')
    })[0]

    if (remainingTimeCookie) {
        let remainingTime = parseInt(remainingTimeCookie.split('=')[1])

        structuredClone(remainingTime)
    }

    // function for the countdown
    function startCountdown(remainingTime){
        // if remainingTime is = falsy do the following: make the remaining time equal to 120, else set it to the value we pass
        remainingTime = remainingTime || 120
        resendBtn.setAttribute('disabled', '')

        setTimeout(function() {
            resendBtn.removeAttribute('disabled')
            resendCheck = true;
            // this line sets the ramainingTime till our function activates to be dynamic instead of the fixed 120000 or 120 seconds
        }, remainingTime * 1000)

        let timerInterval = setInterval(function(){
            remainingTime--
            document.cookie = `remainingTime=${remainingTime}; path=/reset;`
            resendBtn.innerHTML = `Resend Code In ${remainingTime} seconds`

            if (remainingTime == 0) {
                clearInterval(timerInterval);
                resendBtn.innerHTML = '<span>Resend New Code</span>'
                document.cookie = 'remainingTime=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;';
            }
        }, 1000)
    }
    form.addEventListener('submit', function() {
        // set the logic for the counter
        document.cookie = 'remainingTime=120; path=/reset;';
            

        
    })
    
        
</script>
<style>
    .gone {
        display: none;
    }
</style>
{% endblock %}